.list-group-item>span,
.list-group-item>img {
    cursor: pointer;
}

.list-group>li,
.form-control {
    opacity: 0.8;
}

.list-group>li:hover,
.form-control:hover,
.form-control:focus {
    opacity: 1;
}

.list-group-item>img:hover {
    transform: scale(1.15);
}

video {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}